<!--For Design-->
<div class="row text-center " >

    <div class="col-lg-3" [ngStyle]="{'backgroundColor':'rgb(66,177,210)'}" >
       <p class="p2"> <fa-icon class="fa" [icon]="fa1"></fa-icon></p>
        <p class="p1">Best Treatment</p>
        <p>Lorem ipsum dolor, sit amet consectetur Sunt aliquid hic vitae quo, rerum dolorum nemo ducimus autem.
        </p>
      </div>
    <div class="col-lg-3" [ngStyle]="{'backgroundColor':'rgb(62,182,198)'}" >
        <p class="p2"> <fa-icon class="fa" [icon]="fa2"></fa-icon></p>
<p class="p1">Emergency Help</p>
<p>Lorem ipsum dolor, sit amet consectetur Sunt aliquid hic vitae quo, rerum dolorum nemo ducimus autem.
</p>

        </div>
    <div class="col-lg-3" [ngStyle]="{'backgroundColor':'rgb(61,187,185)'}" >
        <p class="p2"> <fa-icon class="fa" [icon]="fa3"></fa-icon></p>
        <p class="p1">Medical Staff</p>
        <p>Lorem ipsum dolor, sit amet consectetur Sunt aliquid hic vitae quo, rerum dolorum nemo ducimus autem.
        </p>
      
    </div>
    <div class="col-lg-3" [ngStyle]="{'backgroundColor':'rgb(56,196,172)'}">
        <p class="p2"> <fa-icon class="fa" [icon]="fa4"></fa-icon></p>
        <p class="p1">Qualified Doctors</p>
        <p>Lorem ipsum dolor, sit amet consectetur Sunt aliquid hic vitae quo, rerum dolorum nemo ducimus autem.
        </p>
      
      </div>
  </div>
