<!--For design-->

    <div class="container-fluid c1 ">

<section id="bottom">
    <div class="row bg-light ">
        <div class="col-lg-6 text-center "[ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
        <div>    <h2  >Hello There!</h2>
<p class="p4">Always caring about your health, we are here to help you!</p></div><br>
        <div class="b1 text-center"><button class="btn " [ngStyle]="{'backgroundColor':'rgb(87,190,80)','color':'white'}">Book Appoint With Doctors</button></div>
        <br>
        <div class="b1 text-center"><button class="btn" [ngStyle]="{'backgroundColor':'rgb(87,190,80)','color':'white'}">Buy Medicens and Essentials</button></div>
        <br>
<div>
<button class="btn1 " [ngStyle]="{'backgroundColor':'rgb(87,190,80)','color':'white'}">Book Lab Tests</button>

<button class='btn2' [ngStyle]="{'backgroundColor':'rgb(87,190,80)','color':'white'}">Buy Health Records</button></div>
<br>
<div ><p class="p2 "><b>The Smart Choice for Your Health is Here</b></p>
    <p>Online doctor consultations take place through online doctor chat, call, or video call. This helps you to talk to doctors online from the comfort of your home by simply choosing a doctor from different specialties. Avail personalised solutions for any health problem with prompt online doctor consultation with People Care 24|7.

    </p>
    <p><b>Online Doctor Consultation - Now at Your Fingertips</b></p>
      <p> The demand for doctors is expected to increase as new medicines allow people to live longer. However, there are several ways to reach out to a doctor without the need to visit a hospital or clinic, all thanks to technology. With the online facility available, doctor consultations have become easier, and you can get the right health care.</p><p> Online doctor consultations With 4000+ top medical doctors are available at Health Care 24|7. Video call or chat with expert doctors from 100+ medical specialties, including | Dermatology | Gynaecology | Paediatrics | Psychiatry | General Physicians | Gastroenterology | Dietetics | Ent Specialists | and more, in just 15 minutes.
        
        </p>
   </div></div>
   
    
<div class="col-lg-6" [ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
<img src="../../assets/about2.jpg" alt="responsive img"  height="100%" width="100%">

</div>
    </div>
</section>

