.btn1{
    
    padding-right: 230px;
}
.btn2{

    padding-right: 160px;
}
.btn3{

    padding-right: 220px;
}
.btn5{

    padding-right: 100px;
}


.btn6{
    
    padding-right: 90px;
}
.btn7{
    
    padding-right: 100px;
}

.btn8{
    
    padding-right: 170px;
}

.btn9{

    padding-right: 150px;
}

.btn10{
    
    padding-right: 90px;
}

.btn11{
    
    padding-right: 180px;
}



.c1{
    background-color: rgb(233,249,231);
}
body{
    background-color: rgb(233,249,231);
}
