<!--design-->
<div class="container-fluid c1" [ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">

    <section id="bottom" [ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
        <div class="row bg-light "[ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
            <div class="col-lg-4 text-left " [ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
            <div class="h2" [ngStyle]="{'color':'rgb(75,135,152)'}"> <h2>Specialties And Super Specialties</h2></div><br>
            <div class="b1 text-left"><button class="btn1" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/car.png" width="30px" height="40px">HEART</button></div>
           <br> <div class="b2 text-left"><button class="btn2" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/ortho.jpg" width="40px" height="40px">ORTHOPEDICS</button></div>
           <br> <div class="b3 text-left"><button class="btn3" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/spine.png" width="40px">SPINE</button></div>
           <br> <div class="b4 text-left"><button class="btn4" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/neuro.jpg" width="40px">NEUROLOGY AND NEUROSURGERY</button></div>
           <br> <div class="b5 text-left"><button class="btn5" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/gas.avif" width="40px">GASTROENTEROLOGY</button></div>
            <br><div class="b6 text-left"><button class="btn6" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/trans.png" width="40px">TRANSPLANT INSTITUTE</button></div>
            <br><div class="b7 text-left"><button class="btn7" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/icu.png" width="40px">INTENSIVE CARE UNIT</button></div>
            <br><div class="b8 text-left"><button class="btn8" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/emer.png" width="40px">EMERGENCY</button></div>
            <br><div class="b9 text-left"><button class="btn9" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/plum.jpg" width="40px">PULMONOLOGY</button></div>
            <br><div class="b10 text-left"><button class="btn10" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/ent.jpg" width="40px">EAR NOSE AND THROAT</button></div>
        
            <br><div class="b1 text-left"><button class="btn11" [ngStyle]="{'backgroundColor':'rgb(75,135,152)','color':'white'}"><img src="../../assets/pedia.jpg" width="40px">PEDIATRICS</button></div>
        
           
            </div>
        
    <div class="col-lg-8" [ngStyle]="{'backgroundColor':'rgb(233,249,231)'}">
    <img src="../../assets/services1.jpg" alt="responsive img"  height="100%" width="100%">
    
    </div>
        </div>
    </section>
    
    