
<section class="vh-100 bg-image"
  style="background-image: url('../../assets/login.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-4 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>
               <p class="text-center">Please Make Login To Appointment</p>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
           <div class="form-outline col-md-9">
                <label class="form-label"  >User Name</label>
                <input type="text" id="uName" formControlName="uName" class="form-control form-control-lg" />
                   <div class="errormsg" [ngStyle]= "{'color':'red'}"   *ngIf="((!loginForm.controls.uName.valid)&& (loginForm.controls.uName.dirty))">enter valid Email address</div></div>
                                
                <div class="form-outline col-md-9">
                  <label class="form-label" >Password</label>
                  <input type="password" id="pwd" formControlName="pwd" class="form-control form-control-lg" />
                  <div class="errormsg" [ngStyle]= "{'color':'red'}"   *ngIf="((!loginForm.controls.pwd.valid)&& (loginForm.controls.pwd.dirty))">Invalid Password</div>
                </div>
                    <br>
                
                <div class="d-flex justify-content-center">
                  <button type="submit" 
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!loginForm.valid">Login</button>
                </div><br>
                
                <div class="form-group">
                  Create new account ? Please <a  [routerLink]="['/Register']">Register</a>
                </div>
    
          </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



