
<section class="vh-100 bg-image"
  style="background-image: url('../../assets/login.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body ">
              <h2 class="text-uppercase text-center mb-5">Sign Up</h2>

  
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                <div class="form-outline col-md-9">
                    <label class="form-label"  >First Name</label>
                     <input type="text" id="fName" formControlName="fName" class="form-control form-control-lg" />
                     <div class="errormsg" [ngStyle]= "{'color':'red'}"   *ngIf="((!contactForm.controls.fName.valid) && (contactForm.controls.fName.dirty))">Required alpahabets only</div>
                </div>  

                <div class="form-outline col-md-9  ">
                    <label class="form-label" >Last Name</label>
                  <input type="text" id="lName" formControlName="lName" class="form-control form-control-lg"  />
                  <div class="errormsg" [ngStyle]= "{'color':'red'}"   *ngIf="((!contactForm.controls.lName.valid)&& (contactForm.controls.lName.dirty))">Required alpahabets only</div>
                    
                </div>

                <div class="form-outline col-md-9">
                    <label class="form-label" >Email Address</label>
                  <input type="email" id="email"  formControlName="email" class="form-control form-control-lg" />
                 
                 <div class="errormsg" [ngStyle]= "{'color':'red'}"  *ngIf="((!contactForm.controls.email.valid)&& (contactForm.controls.email.dirty))
      ">Email required.entered email will be a username of Login</div>
                </div>

                <div class="form-outline col-md-9">
                    <label class="form-label" >Password</label>
                     <input type="password" id="pwd" formControlName="password" class="form-control form-control-lg" />
              <div class="errormsg" [ngStyle]= "{'color':'red'}"   *ngIf="((!contactForm.controls.password.valid)&& (contactForm.controls.password.dirty))">Invalid Password</div></div>
              <br>
               <div class="d-flex justify-content-center">
                  <button type="submit" 
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!contactForm.valid">Sign Up</button>
                </div>
              <br>
           <div class="form-group">
              Already have account ? Please <a [routerLink] ="['/Login']">Login</a>
           </div>

      </form>
      

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



